name: Tests

on: [push]

jobs:
    build:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Set Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
                  cache: "yarn"

            - name: Install project dependencies
              run: yarn

            - name: Run tests
              run: yarn run test
